<%-include('includes/header.ejs') %>
<!-- <h2>Login Form</h2> -->

<!-- <form action="/login" method="POST"> 
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
</form> -->
<div class="myMainDiv">
<form class="register-form" action="/register" method="POST">
<h2 class="register-heading">Register Yourself</h2>

    <input class="form-field" type="text" name="username" placeholder="Pick a username"> 
    <p class="constraint">Username should contain only letters and numbers.</p>


    <input class="form-field" type="email" name="email" placeholder="Email"> 
    <input class="form-field" type="password" name="password" placeholder="Create Password"> <br> 
    <p class="constraint">Password should be atleast 8 characters.</p>
   
    <input class="btn-register" type="submit" value="Sign Up">
</form>

<p class="guestpageText">
Cash Manager is a personal expense manager app. This will help you to manage your cash more efficiently and accurately. 
</p>

</div>

<%-include('includes/footer') %>