*{
    padding: 0;
    margin:0;
box-sizing: border-box;;
}

.navbar{
padding: 20px;
/* display: flex;
align-items: center;
justify-content: center;
text-align: center; */
}

.add-btn{
    padding:10px;
    background-color: #525050;
color: #ffffff;
text-decoration: none;
border-radius: 8px ;
margin-bottom: 10px;;
}
.add-btn:hover {
    
    background-color: rgb(53, 50, 50);
color: #fff;
text-decoration: none;
text-align: center;
border: 2px solid rgb(20, 20, 20);
text-decoration: underline;
}

.popup, .expense-popup, .edit-expense-popup{
    background-color: rgba(20, 14, 14, 0.521) ;
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
     /* display: flex;  */
      display: none;  
    justify-content: center;
    align-items: center;
    left: 0;
}

.close, .closeExp, .closeEdit{
    width: 20px;
    height: 20px;
   position: absolute;
  right: 10px;
  cursor: pointer;
}

.popup-content-div{  
background-color: rgb(255, 247, 247);
padding:10px; 
position: relative; 
}

.wallet-area{
/* width:auto;
min-width: 120px;;
height: 60px;
border: 2px solid black;
border-radius: 10px; */
display: inline-block;
/* text-align: center;
padding:3px;
background-color: bisque; */
color:rgb(255, 133, 51);
}

 .add-expense-btn{

 padding: 10px; 
background-color: rgb(220, 93, 20);
color:#fff;
text-decoration: none;
font-size: 20px;
border-radius: 50px;
text-align: center;
position: fixed;
width:50px
}
 .add-expense-btn:hover{

color: #fff;
transform: scale(1.2);


}

@media only screen and (max-width: 768px){
 .add-expense-btn{
right: 4%;
}
}

.add-expense-area{
    position: absolute;
    right:10%;
    bottom: 10%;
}

.expenses{
    background-color: #34343a;
    /* background: rgb(2,0,36); */
/* background: linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(0,212,255,1) 2%, rgba(74,74,134,1) 100%); */
  /* border: 2px solid black; */
  font-size:18px;
  /* text-align: center; */
  /* font-weight: bold; */
  /* border-radius: 20px; */
  /* margin-bottom: 5px; */
  color:#fff;
  font-size: 14px;
  display: flex;
  border-bottom: 1px solid rgba(158, 158, 158, 0.527);
  justify-content: space-between;
  align-items: center;
  min-height: 100px ;
  padding: 10px;
}

.child-left{
    /* background-color: #00B4D8; */
    width:60%;
   

}
.child-right{
    /* background-color: #00B4D8;  */
    /* width:80%; */
    text-align:center;
}
.expenses p{
    line-height: 15px;
    word-wrap: break-word;
   
}
.add-balance{
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #0A2749;
    background-color: #181b1f;

    color:#fff;
text-align: center;
}

 .expenses-showall {
    justify-self: center;
text-align: center;
border-bottom: 1px solid rgba(158, 158, 158, 0.527);
background-color: #34343a;
padding: 10px;
}
 .expenses-showall a, .expenses-showall p {
   text-decoration: none;
   text-align: center;
 color:#e4874a
}

.myMainDiv{
    background-color: #181b1f;
    min-height: 100vh;
    height: auto;
    padding-top:20px;
    
}
.inner-btn{
    width:100px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #e4874a;
    color: #fff;
    /* margin-top:10px; */
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px 2px #181b1f;
}
 .inner-btn:hover{

    background-color: #e6772d;
   
    /* border: none; */
    box-shadow: 2px 2px #181b1f; 
} 

.title{
    color: #fff;
}
.navbar-links {
    color: #e4874a;
    text-decoration: none;
}
.navbar-links:hover {
    color: #e4874a;
    /* text-decoration: double; */
    text-decoration: underline;
}

footer{
    background-color: #34343a;
   min-height: 90px;
   text-align: center;
font-size:15px;
color:#ffffff;
}

.reimbursed{
background-color:  green;
box-shadow: none;
}
.reimbursed:hover{
background-color:  green;
box-shadow: none;
}
.social a{
    color: #e4874a;
    font-size: 20px;
    margin: 10px;
}
.navbar-brand img{
    height:50px;
    
}

.fa-solid{
    cursor: pointer;
    
}
.fa-trash-can{
    margin-right: 20px;
}
.deleteExpense{
    display: inline-block;
}
.delete-btn{
    background-color: transparent;
    outline: none;
    color: rgb(241, 0, 0);
    border: none;
}

.personalExp-btn{
    background-color: rgb(174, 0, 255);
}

.personalExp-btn:hover{
    background-color: rgb(146, 9, 209);
}

.sign-btn{
    width:80px;
    background-color:#e4874a;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    display: block;
    margin-top: 7px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.register-form{
    text-align: center;
}

.register-heading{
    color:rgb(220, 93, 20)
}

.guestpageText{
    font-size: 18px;
    margin:10px;
    /* color:rgb(220, 93, 20) */
    color: #fff;
}

.form-field{
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
    margin:5px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: #e4874a;
}
.form-field:focus{
    border: 2px solid #e6772d;
    outline:none;
}
.btn-register{
    background-color: #e6772d;
    width: 100px;
    border: none;
    padding: 7px;
    color: #fff;
}

.constraint{
    color:rgb(220, 93, 20);
    font-size: 10px;
}
.myMainDiv-guestPage{
    min-height: 70vh; 
    background-color: #181b1f;
   width: auto;
   margin:0 px;
}